---
import { getCollection } from "astro:content";

const DATA = await getCollection("open-source");
---

<section>
  <h2 id="open-source" class="mx-auto mb-5 text-left text-3xl font-normal">
    <a href="#open-source">Open Source:</a>
  </h2>
  <ul
    aria-labelledby="open-source"
    class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-3"
  >
    {
      DATA.map(({ data: { href, title, asset } }) => (
        <li>
          <a
            href={href}
            aria-label={title}
            title={title}
            rel="noreferrer nofollow"
            class="group size-full decoration-transparent outline-offset-2 transition-[outline] duration-150 ease-linear select-none hover:outline hover:outline-black focus-visible:outline-black md:text-xl dark:hover:outline-white dark:focus-visible:outline-white"
          >
            <img
              loading="lazy"
              alt={`${title} Logo`}
              width={asset.width}
              height={asset.height}
              src={asset.src}
              class="size-full bg-white"
            />
            <span aria-hidden="true" class="sr-only">
              {title}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</section>
